<div id="overlay" class="hide"></div>
<div class="redirect-box hide">
  <h4>Redirecting you to travelocity...</h4>
  <%= image_tag 'loading.gif' %>
  <div class="redirect-text">Another tab will open with your results shortly</div>
  <a href="#" id="generated-link" target="_blank"><a>
</div>