<div class="footer">
  FlyShortcut is a product of 0969720 B.C. LTD. by <a href="http://justsaywen.com/">David Wen</a> and <a href="http://adriankhoo.com">Adrian Khoo</a> | Creative Commons Image Credits: <a href="http://www.flickr.com/photos/greymaster/">James Albright</a>, <a href="http://www.flickr.com/photos/37078205@N06/">Fechi Fajardo</a> and <a href="http://dribbble.com/humphreybc">Benjamin Humphrey</a>.
</div>