<div class="panel3 clearfix" id="panel3">
  <div class="scrollStopper">Stop auto-scroll here!</div>
  <div class="panelCaption">
    <h2>What this means</h2>
  </div>

  <!-- Normal view -->

  <div class="headline clearfix hidden-xs">
    <div class="headlineLeft">
      <h1>"Hidden city ticketing" -</h1>
      <h1>booking A:B:C, flying A:B, and</h1>
      <h1>throwing away B:C, can yield</h1>
    </div>
    <div class="headlineRight"><h1>lower than lowest fares</h1></div>
  </div>
  <div class="diagram hidden-xs"><img src="/assets/panel3image.png"></div>

  <div class="limitationsAndRisks hidden-xs">
    <div class="limitations">
      <p class="highlight">Limitations:</p>
      <div class="specifics">
        <img src="/assets/limit-oneway.png">
        <p class="highlight">One-way at a time.</p>
        <p>For a round trip flight, you must book two one way tickets</p>
      </div>
      <div class="specifics">
        <img src="/assets/limit-carryon.png">
        <p class="highlight">No checked bags.</p>
        <p>You can only bring carry-on luggage</p>
      </div>
    </div>
    <div class="risks">
      <p class="highlight">Risks:</p>
      <div class="specifics">
        <img src="/assets/risk-routing.png">
        <p class="highlight">Risk of routing changes.</p>
        <p>Airlines only guarantee travel from A:C, not the routing to get there</p>
      </div>
      <div class="specifics">
        <img src="/assets/risk-action.png">
        <p class="highlight">Risk of hostile airline action</p>
        <p>E.g. Removal from frequent flyer program</p>
      </div>
    </div>
  </div>

  <div class="nextPanel hidden-xs">
    <a href="#panel4" class="smoothScroll"><button class="btn btn-default">Do people do this?</button></a>
  </div>

  <!-- XS Screen view -->

  <div class="visible-xs" style="text-align: center; color: white; margin: -10px 0 10px 0;">
    You can do this to save money:
  </div>
  <div class="visible-xs" style="margin: 0 5px;">
    <img src="/assets/panel3image.png" width="100%">
  </div>

  <div class="visible-xs" style="margin: 0 15px; color: white;">
    <div style="margin: 20px 0;">
      <strong>Limitations:</strong>
      <div style="font-size: 10px;">
        For a round trip flight, you must book two one-way tickets. Also, you can only bring carry-on luggage.
      </div>
    </div>
    <div>
      <strong>Risks:</strong>
      <div style="font-size: 10px;">
        Airlines only guarantee travel from A:C, not the routing to get there. Also, airlines might get mad and remove your frequent flyer points (rare).
      </div>
    </div>
  </div>

  <div class="nextPanel visible-xs">
    <a href="#panel4" class="smoothScroll"><button class="btn btn-default btn-sm">Do people do this?</button></a>
  </div>

</div>