<div class="panel4 clearfix" id="panel4">
  <div class="scrollStopper">Stop auto-scroll here!</div>
  <div class="panelCaption">
    <h2>What the media is saying</h2>
  </div>

  <div class="row hidden-xs" style="margin: 0;">
    <div class="contentWrapper clearfix">
      <div class="col-sm-8">
        <img src="/assets/mediaImage.jpg" width="100%">
      </div>
      <div class="col-sm-4" style="height: 100%;">
        <a href="http://www.nytimes.com/2011/05/08/magazine/mag-08subversion-t.html" target="_blank" class="mediaTop">
          <h2>"How to Beat High Airfares"</h2>
          <img src="/assets/nytlogo.gif" width="50%">
        </a>
        <a href="http://www.economist.com/blogs/gulliver/2011/05/hidden_city_ticketing" target="_blank" class="mediaBottom">
          <h2>"Airlines hate this move, but it's apparently totally legal."</h2>
          <img src="/assets/economistlogo.gif" width="50%">
        </a>
      </div>
      <div class="col-sm-12">
        <a href="http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/01/View-From-The-Wing---How-to-Use-Hidden-City-and-Throwaway-Ticketing-to-Save-Money-on-Airfare/598252/1" target="_blank" class="mediaBottom2">
          <h2>"Ninety percent of the time... this comes off without a hitch and you get real savings."</h2>
          <img src="/assets/usatlogo.gif">
        </a>
      </div>
    </div>
  </div>


  <!-- XS Screen -->

  <a href="http://www.nytimes.com/2011/05/08/magazine/mag-08subversion-t.html" target="_blank" class="mediaTop visible-xs media-mobile-links">
    <h2>"How to Beat High Airfares"</h2>
    <img src="/assets/nytlogo.gif" width="30%">
  </a>

  <a href="http://www.economist.com/blogs/gulliver/2011/05/hidden_city_ticketing" target="_blank" class="mediaBottom visible-xs media-mobile-links">
    <h2>"Airlines hate this move, but it's apparently totally legal."</h2>
    <img src="/assets/economistlogo.gif" width="30%">
  </a>

  <a href="http://travel.usatoday.com/alliance/flights/boardingarea/post/2012/01/View-From-The-Wing---How-to-Use-Hidden-City-and-Throwaway-Ticketing-to-Save-Money-on-Airfare/598252/1" target="_blank" class="mediaBottom-xs visible-xs media-mobile-links">
    <h2>"90% of the time... this comes off without a hitch and you get real savings."</h2>
    <img src="/assets/usatlogo.gif" width="30%">
  </a>

  <a href="#panel5" class="smoothScroll"><button class="btn btn-info btn-sm" style="margin-top: 10px;">How do I find these opportunities?</button></a>
</div>