<div class="panel2 clearfix" id="panel2">
  <div class="scrollStopper">Stop auto-scroll here!</div>
  <div class="panelCaption">
    <h2>The Secret</h2>
  </div>
  <div class="headline">
    <h1 class="smaller">You want to fly from A to B.  Guess what:</h1>
    <div class="visible-xs" style="height: 20px;"></div>
    <h1 class="larger">Booking A:B:C can cost less than A:B</h1>
    <img src="/assets/panel2image.png" class="hidden-xs">
  </div>
  <div class="nextPanel">
    <a href="#panel3" class="smoothScroll"><button class="btn btn-danger">What does this mean?</button></a>
  </div>
</div>