<a href="#" onClick="_gaq.push(['_trackEvent', 'Test', 'Click', 'Testing GA']);" id="play-test" target="_blank">Play</a>
<script>
// 	$('#play-test').on('click', function(e) {
// 		e.preventDefault();
// 	  _gaq.push(['_trackEvent', 'Test', 'Click', 'Testing GA']);
// 	  console.log("should have sent tracker");
// 	});
</script>