#dw {
	background-color: #BDE3E1;
  min-height: 100%;
}

#dw .container {
  min-height: 100%;
  height: 100%;
}

/*#dw .top-filter {
  background-image:url("/img/top_cloud_trans.png");
  background-repeat: repeat-x;
  height: 173px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
}*/

#dw .toggle-buttons {
  padding: 28px 0px 0px 20px;
}

#dw #logo {
	margin: 20px 0;
}

#dw .loading {
  text-align: center;
}

#dw .navbar {
  /*position: fixed;*/
  width: 350px;
}

#dw .navbar input {
	margin-bottom: 10px;
	height: 40px;
}

#dw .navbar input.input-large {
  width: 270px;
}

#dw .navbar input #date {
  margin-bottom: 10px;
  height: 40px;
}

#dw .navbar span {
	padding: 14px 0;
	width: 40px;
}

#dw .navbar span p {
	padding: 0;
}

#dw .flash {
  margin: 20px 0px 0px 0px;
  background-color: #FCF8E3;
}

#dw .alert-errors {
  background-color: #F2DEDE;
  border: 0;
}

#dw .email-box {
  position: relative;
}

#dw #email {
  width: 170px;
  float: left;
  margin: 20px 0px 0px 0px;
}

#dw #email-button {
  float: right;
  margin: 20px 0px 0px 0px;
}

#dw .from-airport {
  margin-top: 25px;
}

#dw .to-airport {
  margin-top: 15px;
}

#dw #from-dropdown {
  margin-left: 5px;
}

#dw #to-dropdown {
  margin-left: 20px;
}

#dw .to-label {
  margin-bottom: 20px;
}

#dw .stats {
  padding-top: 20px;
}

#dw .stats-header {
  text-align: left;
  border-bottom: 1px black solid;
}

#dw .stats-route {
  width: 90px;
}

#dw .stats-num {
  width: 40px;
  text-align: center;
}

#dw .stats-savings {
  width: 80px;
  text-align: right;
}

#dw .stats-last-row {
  border-top: 1px black solid;
}

#dw .hero-unit {
	margin: 60px 20px 60px 20px;
	padding: 20px 40px 20px 40px;
  min-height: 200px;
  font-size: 1.1em;
}

#dw .top-half {
	display: inline;
  position: relative;
}

#dw .epic-word {
  float: left;
  position: absolute;
  top: -40px;
  left: -130px;
  -webkit-transform: rotate(-35deg); 
  -moz-transform: rotate(-35deg);
}

#dw .price {
	float: left;
	margin-top: -90px;
	margin-left: -90px;
	width: 150px;
	height: 150px;
	background-image:url("/img/single_cloud.png");
	text-align: center;
	line-height: 160px;
	font-weight: bold;
	font-size: 1.4em;
}

#dw .social-buttons {
  float: right;
  position: relative;
  margin-right: -20px;
}

#dw .savings {
	float: left;
	margin-left: 20px;
}

#dw .bottom-half {
	clear: both;
}

#dw .bottom-half table td {
	padding: 0px 5px;
	margin-top: -20px;
}

#dw .bottom-half .below-table {
	display: inline;
}

#dw .btn-success {
	margin-top: 20px;
	float: left;
  z-index: 100;
}

#dw form {
  margin: 0;
}

#dw .flight-no {
	float: left;
	margin-top: 28px;
	margin-left: 10px;
}

#dw .no-flights h2 {
  text-align: center;
  position: relative;
}

#dw .inline-email {
  width: 280px;
  float: left;
}

#dw #second-email {
  width: 170px;
  float: left;
  margin: 20px 10px 0px 0px;
}

#dw #second-email-button {
  margin-right: 10px;
}

#dw .flash {
  padding: 10px;
  border-radius: 5px;
}

#dw .inline-flash {
  float: left;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

/*#dw .arrow-up {
  position: absolute;
  left: 180px;
  top: 100px;
}

#dw .arrow-left {
  position: absolute;
  left: 360px;
  top: 110px;
}*/

#dw .no-more-flights {
  margin-bottom: 180px;
  margin-left: 42%;
}

#dw .infinite-loading {
  margin-bottom: 180px;
  margin-left: 42%;
}

ul.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

ul.ui-autocomplete > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

ul.ui-autocomplete > li > a:hover,
ul.ui-autocomplete > li > a:focus,
ul.ui-autocomplete:hover > a,
ul.ui-autocomplete:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

ul.ui-autocomplete > .active > a,
ul.ui-autocomplete > .active > a:hover,
ul.ui-autocomplete > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

#dw footer {
	background-image:url("/img/bk_header_cloud_trans.png");
	background-repeat: repeat-x;
/*  background-position-y: -180px; */
	height: 140px;
	text-align: center;
/*	position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
}

#dw p {
  position: absolute;
  bottom: 5px;
  left: 40%;
  visibility:hidden;
}

#dw #fb-root {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
