<% unless session[:visited] > 1 %>
  <div class="alert">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <div><a href="/#panel2" class="learn-more-link">Learn more</a></div>
    <div><h4>First time here?</h4></div>
    <div>We're not your average flight search engine.</div>
    <div class="explanation-image"><%= image_tag "panel3image.png", :width => 600 %></div>
  </div>
<% end %>
<div class="alert email-signup">
  <a class="close" href="#">&times;</a>
  <div><h4>100% epic travel hacks and deals. 0% spam.</h4></div>
  <div class="flash hide initial-flash">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>
  </div>
  <div class="initial-email">
    <form>
      <input type="text" name="user[email]" placeholder="Email" id="initial-email">
      <%= select_tag "all-airports", options_for_select(@airports) %>
      <a href="/#panel2" class="initial-signup-button">Subscribe</a>
    </form>
  </div>
</div>