<div id="logo">
	<a href="/"><img src="/img/fs_logo.png"></a>
</div>
<%= link_to "About", "/#panel2" %> ⋅ <a id="signup-link" class="hidden" href="#" title="Sign up" data-content="We will let you know about new routes and really big epic wins!">Sign up for alerts</a><a id="close-link" href="#">Close sign up box</a> ⋅ <%= mail_to('david@dwakventures.com', "Contact", :cc => 'adrian@dwakventures.com', :encode => "hex", :subject => "From FlyShortcut", :class => 'contact-us', :target => "_blank") %>
<div class="row" style="text-align: left;">
	<div class="from-airport col-xs-2">
  	<span><label for="from-dropdown" class="label label-info">From:</label></span>
  </div>
  <div class="from-airport col-xs-10">
  	<%= select_tag "from-dropdown", options_for_select(@from, :selected => @default_from), :class => "selectpicker", "data-live-search" => "true", "data-width" => "100%" %>
  </div>
  <div class="to-airport">
    <div class="to-airport col-xs-2">
      <span><label for="to-dropdown" class="label label-info to-label">To:</label></span>
    </div>
    <div class="to-airport col-xs-10">
      <%= select_tag "to-dropdown", options_for_select(@to), :class => "selectpicker", "data-live-search" => "true", "data-width" => "100%" %>
    </div>
  </div>
</div>