<div class="top-bar">
	<div class="navbar">
		<ul class="nav">
      <form class="form-inline">
      	<%= link_to "How this works", "/#panel2" %>
      	<div class="from-airport">
	      	<!-- <span class="add-on"><p>From:</p></span> -->
	      	<span><label for="from-dropdown" class="label label-info">From:</label></span>
	      	<%= select_tag "from-dropdown", options_for_select(@from) %>
				  <!-- <input type="text" class="input-large" id="origin"placeholder="Where you are..."> -->
				</div>
				<div class="to-airport">
			  	<!-- <span class="add-on">To:</span> -->
			  	<span><label for="to-dropdown" class="label label-info to-label">To:</label></span>
			  	<%= select_tag "to-dropdown", options_for_select(@to) %>
			  	<!-- <input type="text" class="input-large" id="destination" placeholder="Where you wanna go..."> -->
				</div>
			</form>
  	</ul>
	</div>
</div>