<div class="toggle-buttons">
  <div class="type-filter">
    <div>Type:</div>
    <div class="btn-group filter-type" data-toggle="buttons-radio">
      <button type="button" class="btn btn-info filter" id="epic-button" title="Epic flights" data-content="These flights are at least $20 cheaper than the same flight being sold on traditional search engines">Epic</button>
      <button type="button" class="btn btn-info filter">All</button>
    </div>
  </div>
  <div class="sort-filter">
    <div>Sort by:</div>
    <div class="btn-group filter-sort" data-toggle="buttons-radio">
      <button type="button" class="btn btn-info filter">Price</button>
      <button type="button" class="btn btn-info filter">Time</button>
    </div>
  </div>
</div>