<div class="toggle-buttons">
  <div class="type-filter">
    <div>Type:</div>
    <div class="btn-group filter-type" data-toggle="buttons-radio">
      <button type="button" class="btn btn-info filter" id="epic-button" title="Top flights" data-content="These flights are at least $20 cheaper than the same flight being sold on traditional search engines">Epic</button>
      <button type="button" class="btn btn-info filter">All</button>
    </div>
  </div>
  <div class="sort-filter">
    <div>Sort by:</div>
    <div class="btn-group filter-sort" data-toggle="buttons-radio">
      <button type="button" class="btn btn-info filter">Price</button>
      <button type="button" class="btn btn-info filter">Time</button>
    </div>
  </div>
  <!-- <div>
    <div>Month:</div>
    <div class="btn-group filter-month" data-toggle="buttons-checkbox">
      <button type="button" class="btn btn-info btn-large filter"><%= @month1 %></button>
      <button type="button" class="btn btn-info btn-large filter"><%= @month2 %></button>
      <button type="button" class="btn btn-info btn-large filter"><%= @month3 %></button>
    </div>
  </div> -->
</div>